<header class='c-header'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-header__inner'>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--3-4-s'>
            <div class='c-logo u-text-left'>
              <a class='c-logo__link' href='{{ site.baseurl }}/'>{{ site.title }}</a>
              <form action="{{ page.url | relative_url }}">
  <div class="tipue_search_left"><img src="{{ "/assets/tipuesearch/search.png" | relative_url }}" class="tipue_search_icon"></div>
  <div class="tipue_search_right"><input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required></div>
  <div style="clear: both;"></div>
</form>

<div id="tipue_search_content"></div>

<script>
$(document).ready(function() {
  $('#tipue_search_input').tipuesearch();
});
</script>
            </div>
          </div>

          <div class='o-grid__col o-grid__col--1-4-s'>
            <label class='js-off-canvas-toggle c-off-canvas-toggle' aria-label='Toggle navigation'>
              <span class='c-off-canvas-toggle__icon'></span>
            </label>
          </div>

          <div class='o-grid__col o-grid__col--1-4-s'>
            <div class='c-off-canvas-content'>
              <label class='js-off-canvas-toggle c-off-canvas-toggle c-off-canvas-toggle--close'>
                <span class='c-off-canvas-toggle__icon'></span>
              </label>

              <ul class='c-nav o-plain-list '>
                {% include navigation.html %}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</header>